{% extends "home.html.twig" %}

{% block title %}Results{% endblock %}

{% block header %}You used "{{ needle }}" {{ result }} times.<a href="/"><button class="btn btn-md bg-success">Home</button></a>{% endblock %}

{% block content %}

{% endblock %}
